@font-face {
    font-family: "Inter V";
    src:url("fonts/InterVariable.woff2") format("woff");
}
@font-face {
    font-family: "Pervye";
    src:url("fonts/Pervye_Book.otf") format("opentype");
}
@font-face {
    font-family: "Pervye_Extended";
    src:url("fonts/Pervye_Extended-Bold.otf") format("opentype");
}

.navbar-nav{
    padding-top: 48px;
    gap: 42px;
    padding-left: 200px;
}
.navbar.scroll{
    background: #FFFFFF;
}
.bvi-btn {
    background: url('../img/bvi-red.svg') no-repeat;
    background-size: 100%;
    width: 52px;
    height: 41px;
    margin-right: 23px;
    margin-top: 20px;
    visibility: hidden;

}
.navbar.scroll .bvi-btn{
    visibility: visible;
}
.navbar:not(.scroll) .navbar-brand img{
    filter: brightness(0) invert(1);
}
.nav-link{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Inter V",sans-serif;
}
.navbar.scroll .nav-link{
    color: #D6111F!important;
}
.nav-link i{
    color: #D6111F;
    font-size: 25px;
    line-height: 25px;
}
.btn{


}
.btn-white{
    max-width: 336px;
    height: 60px;
    border-radius: 50px;
    color: #000;
    background: #fff;
    font-size: 25px;
    line-height: 50px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-red{
    background: #D6111F;
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    height: 84px;
    width: 253px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    gap: 9px;
    font-family: "Inter V",sans-serif;
}
.btn-red:hover{
    background: #c30714;
}
.btn-arrow{
    width: 63px;
    height: 63px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-arrow:before{
    content: '';
    width: 43px;
    height: 43px;
    background: url('../img/btn-arrow-red.svg') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card{
    background: #FAFAFA;
    border-radius: 30px;
    border: none;
    height: 280px;
    width: 100%;
    max-width: 425px;
}
.about-text{
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
    padding-left: 27px;
    padding-right: 27px;
    font-family: Pervye, sans-serif;
}
.about-list{
    padding-left: 81px;
    padding-right: 79px;
    gap: 20px 0;
}
.about-subtitle{
    color: #D6111F;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    background: #FAFAFA;
    max-width: 948px;
    border-radius: 30px;
    padding: 21px 56px 15px;
    margin: 66px auto 42px;
    font-family: Pervye_Extended,sans-serif;
}
.about-title{
    color: #D6111F;
    margin-bottom: 48px;
}
.section-title{
    font-size: 100px;
    line-height: 120px;
    font-weight: 700;
    text-transform: uppercase;
    color: #D6111F;
    font-family: Pervye_Extended, sans-serif;
}

.about-item img{
    margin-top: 32px;
}
.card-body{
    gap: 20px;
}
.about-item:nth-child(7) img{
    margin-top: 0;
}
.video{
    padding-top: 181px;
}
.video-about, .video-command{
    max-width: 372px;
    padding: 37px 51px 18px;
    border-radius: 14px;
    background: #FAFAFA;
    top: 50%;
    transform: translateY(-50%);

}
.video-about {
    position: absolute;
    left: 45px;
    z-index: 1;
}
.video-command{
    position: absolute;
    right: 54px;
}
.video-about h4,
.video-command h4{
    font-size: 25px;
    line-height: 22px;
    color: #000;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: Pervye, sans-serif;
}
.video-about p,
.video-command p{
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: #000;
    font-family: Pervye, sans-serif;

}
.video-view{
    max-width: 1229px;
    height: 711px;
    width: 100%;
    margin: 35px auto 0;
}
.video-bg{
    position: absolute;
    z-index: -1;
}
.video-block{
    margin-bottom: 279px;
}
.video-overlay{
    text-align: center;
    padding-top: 0;
    height: 600px;
    width: 970px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.video-overlay video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.values{
    background: #D6111F;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    max-width: calc(100% - 40px);
    margin: 0 auto 170px    ;
    padding-top: 48px;
    padding-bottom: 60px;
}
.values-list{
    margin-top: 39px;
    gap: 20px;
    max-width: 1288px;
    padding-bottom: 83px;
}
.value-item{
    max-width: 416px;
    height: 373px;
    border-radius: 30px;
    text-align: center;
    perspective: 1000px;
    cursor: pointer;
}
.card-front{
    gap: 56px;
    background: #fff;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    top: 0;
    padding: 20px;
    border-radius: 30px;

}
.card-back {
    background-color:#3669C9;
    color: white;
    transform: rotateY(180deg);
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.value-item:hover .card-inner {
    transform: rotateY(180deg);
}
.value-title{
    background: #FAFAFA;
    border-radius: 30px;
    padding: 12px 16px 14px;
    color: #000;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    min-width: 260px;
    white-space: nowrap;
    font-family: Pervye, sans-serif;

}
.swiper-button-prev{
    top: auto;
    bottom: 0;
    left: 44%;
    width: 63px;
    height: 63px;
    background: #fff;
    border-radius: 100%;
}
.story-list .swiper-button-prev, .story-list .swiper-button-next{
    background: #D6111F;

}
 .swiper-button-next{
    top: auto;
    bottom: 0;
    right: 44%;
    width: 63px;
    height: 63px;
    background: #fff;
    border-radius: 100%;
}
.story-list .swiper-button-prev{
    left: 45%;
}
.story-list .swiper-button-next{
    right: 45%;
}
 .swiper-button-next:after, .values-list .swiper-rtl .swiper-button-prev:after{
    background: url('../img/slider-right.svg') no-repeat;
    content: '';
    width: 43px;
    height: 43px;
}
 .story-list .swiper-button-next:after{
     background: url('../img/arrow-right-white.svg') no-repeat;

 }
 .swiper-button-prev:after, .values-list .swiper-rtl .swiper-button-next:after{
    background: url('../img/slider-left.svg') no-repeat;
    content: '';
    width: 43px;
    height: 43px;
}
.story-list .swiper-button-prev:after{
    background: url('../img/arrow-left-white.svg') no-repeat;

}
.story-list{
    max-width: 1585px;
    padding-bottom: 70px;
    margin-bottom: 138px;
    margin-top: 58px;
}
.story{
    border-radius: 30px;
    max-width: 515px;
    background: #FDFDFD;
    overflow: hidden;
    padding-bottom: 32px;
    border: 3px solid transparent;

}
.story:hover{
    border: 3px solid #FAFAFA;
    cursor: pointer;
}

.story img{
    height: 510px;
    width: 100%;
    object-fit: cover;
}
.user-name{
    min-width: 368px;
    margin: -35px auto 9px;
    width: 368px;
    padding: 20px;
    border-radius: 50px;
    background: #FDFDFD;
    color: #D6111F;
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
    position: relative;
    text-align: center;
    font-family: Pervye_Extended, sans-serif;
}
.user-status{
    font-size: 23px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 23px;
    font-family: Pervye_Extended, sans-serif;

}
.story-text{
    max-width: 412px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    font-family: Pervye, sans-serif;
}
.features-list{
    max-width: 1585px;
    margin: 56px auto 174px;
    gap: 20px;
}
.features-item{
    max-width: 515px;
    width: 100%;
    background: radial-gradient(circle, #D6111F 20%, rgba(169, 45, 54, 1) 80%);
    border-radius: 30px;
    height: 400px;
    padding: 30px;
}
.features-number{
    width: 101px;
    height: 101px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D6111F;
    font-size: 50px;
    line-height: 100px;
    font-weight: 300;
    font-family: Pervye, sans-serif;
}
.features-text{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: #fff;
    margin-top: 122px;
    font-family: Pervye, sans-serif;
}
.features-item:nth-child(3):before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: url('../img/bg-logo.svg') no-repeat;
    background-position: 300%;
}
.features-counter{
    max-width: calc(100% - 40px);
    margin: 0 auto 181px;
    background: #D6111F;
    border-radius: 120px;
    border-bottom-right-radius: 0;
    padding: 114px 0 119px;
}
.features-counter  .row div{
    border-radius: 30px;
    background: #fff;
}
.counter-fw{
    max-width: 1588px;
    margin-bottom: 36px;
    width: 100%
}
.counter-title{
    font-size: 48px;
    line-height: 50px;
    color: #D6111F;
    font-weight: 700;
    padding: 37px;
    text-align: center;
    font-family: Pervye_Extended, sans-serif;
}
.counter-sm{
    max-width: 784px;
    height: 400px;

}
.counter-sm:nth-child(2){
    margin-right: 20px;
}
.counter{
    color: #3669C9;
    font-size: 140px;
    line-height: 50px;
    font-weight: 700;
    padding-top: 118px;
    margin-bottom: 64px;
    font-family: Pervye_Extended, sans-serif;

}
.counter-text{
    background: #FAFAFA;
    border-radius: 100px;
    max-width: 656px;
    padding: 18px 32px;
    color: #D6111F;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 0 auto;
    font-family: Pervye, sans-serif;

}
.counter-more{
    width: 63px;
    height: 63px;
    position: absolute;
    right: 10px;
    top: 12px;
    border-radius: 100%;
    margin-top: 0;
}
.counter-more:before{
    content: '';
    background: url('../img/btn-arrow.svg') no-repeat;
    position: absolute;
    width: 43px;
    height: 43px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.vacancies{
    background: radial-gradient(circle, #D6111F 20%, rgba(169, 45, 54, 1) 80%);
    max-width: 1100px;
    margin: 0 auto 181px;
    border-radius: 30px;
    padding: 78px 0 60px;
}
.vacancies-block h1{
    color: #fff;
    font-size: 60px;
    line-height: 55px;
    font-weight: 600;
    margin-bottom: 35px;
    font-family: Pervye_Extended, sans-serif;
}
.vacancies-block h1:after{
    content: '';
    background: url('../img/bg-logo-black.svg');
    width: 198px;
    height: 310px;
    position: absolute;
    top: 20px;
    right: -20px;
}
.vacancies-text{
    color: #fff;
    opacity: 0.5;
    font-size: 20px;
    line-height: 50px;
    font-weight: 300;
}
.vacancies-text-1{
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
}
.vacancies-text-2{
    left: 116px;
    top: 173px;
}
.vacancies-text-3{
    left: 223px;
    bottom: 152px;
}
.vacancies-text-4{
    right: 65px;
    top: 180px;
}
.vacancies-text-5{
    right: 195px;
    bottom: 90px;
}
.founders-list{
    margin-top: 97px;
    margin-bottom: 181px;
}

.founder{
    border: 3px solid #D9D9D9;
    border-radius: 150px;
    height: 339px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background: #D6111F;
    padding-bottom: 50px;
}
.footer-title{
    margin-top: 74px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: Inter, sans-serif;
}
.footer-top p, .footer-top p a{
   color: #ffffff;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    font-family: Pervye,sans-serif;
    font-weight: 300;
}
.footer-top p{
    margin-bottom: 37px;
}
.footer-col-2 p{
    max-width: 225px;
}
.footer-col-3{
    max-width: 398px;
}
.carousel .btn-white{
    color: #D6111F;
    font-family: 'Pervye_Extended',sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
   max-width: 554px;
    height: 84px;
}
.carousel-caption{
    bottom: 107px;
}
.carousel-control-prev-icon{
    background: url('../img/btn-arrow-red.svg') #fff;
    background-repeat:  no-repeat;
    border-radius: 100%;
    transform: rotate(-132deg);
    opacity: 1;
    width: 63px;
    height: 63px;
}
.carousel-control-next-icon{
    background: url('../img/btn-arrow-red.svg') #fff;
    background-repeat:  no-repeat;
    border-radius: 100%;
    transform: rotate(48deg);
    opacity: 1;
    width: 63px;
    height: 63px;
}
.carousel-item img{
    height: 1080px;
    object-fit: cover;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
}
.footer-bottom{
    margin-top: 67px;
}
.footer-bottom h4{
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    padding-left: 82px;
    margin-bottom: 0;
}
.socials{
    gap: 40px;
}
.footer-link{
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.vacancy-search{
    background: #FAFAFA;
    padding: 76px 70px 32px 47px;
}
.page-title{
    color: #D6111F;
    font-family: Pervye_Extended, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 32px;
}
.vacancy-search .form-control{
    border: 3px solid  #F3F3F3;
    border-radius: 10px;
    height: 84px;
    background: #fff;
    font-size: 30px;
    line-height: 36px;
    padding-left: 30px;
    max-width: 835px;
    width: 100%;
    outline: none;

}
.vacancy-search .form-select{
    max-width: 835px;
    width: 100%;
    border: 3px solid  #F3F3F3;
    border-radius: 10px;
    height: 84px;
    background: #fff;
    font-size: 30px;
    line-height: 36px;
    padding-left: 30px;
    margin-top: 11px;
    color: #B8B8B8;
    outline: none;
}
.vacancy-search label{
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    font-family: Pervye, sans-serif;
    margin-bottom: 9px;
}

::placeholder {
    color: #B8B8B8!important;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #B8B8B8!important;
}
.vacancy-search .btn-red{
    font-weight: 300;
    font-family: Pervye, sans-serif;
    max-width: 329px;
    width: 100%;
    border-radius: 10px;
}

.breadcrumb{
    padding-top: 43px;
    padding-left: 47px;
    margin-bottom: 32px;
}
.breadcrumb-item{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    font-family: Pervye, sans-serif;
}
.breadcrumb-item a{
    color: #C3C3C3;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    font-family: Pervye, sans-serif;
}

.breadcrumb-item+.breadcrumb-item::before{
    content:'\F285';
    font-family: bootstrap-icons;
    color: #C3C3C3;
}
.vacancies-list{
    padding-right: 74px;
    padding-left: 114px;
    padding-top: 22px;

}

.vacancy-item{
    max-width: 750px;
    width: 100%;
    margin-bottom: 75px;
    padding: 30px;
    border: 3px solid transparent;
}
.vacancy-item:hover{
    border: 3px solid #D6111F;
    border-radius: 30px;
    cursor: pointer;
}
.vacancy-title{
    color: #D6111F;
    font-size: 30px;
    line-height: 30px;
    font-family: Pervye_Extended,sans-serif;
    font-weight: 700;
    margin-bottom: 26px;
}
.vacancy-company{
    color: #000000;
    font-size: 22px;
    line-height: 22px;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    margin-bottom: 24px;
}
.vacancy-address{
    font-size: 16px;
    line-height: 18px;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000000;
    display: flex;
    align-items: center;

}
.vacancy-address span{
    background: #3669C9;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin-right: 6px;
    display: inline-block;
}
.vacancy-more{
    list-style: none;
    gap: 10px;
    margin-bottom: 43px;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    font-family: Pervye,sans-serif;
    font-weight: 300;
}
.btn-more{
    border: 3px solid #F3F3F3;
    border-radius: 10px;
    max-width: 323px;
    background: #fff;
    color: #000;
    font-size: 18px;
    line-height: 18px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    width: 100%;
    margin-right: 34px;
    position: relative;
}
.btn-more:after{
    content:"";
    position: absolute;
    background: url('../img/btn-arrow-blue.svg') no-repeat;
    right: 10px;
    bottom: 8px;
    width: 15px;
    height: 14px;
}
.btn-form{
    border: 3px solid #3669C9;
    border-radius: 10px;
    max-width: 323px;
    background: #3669C9;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    width: 100%;
}
.btn-form:hover, .btn-blue:hover{
    color: #fff;
    background: #2c61c4;
}
.vacancy-actions{
    padding-bottom: 34px;
    border-bottom: 1px solid #B8B8B8;
    margin-bottom: 17px;
}
.vacancy-date{
    color: #B8B8B8;
    font-size: 22px;
    line-height: 22px;
    font-family: Pervye,sans-serif;
    font-weight: 300;
}
.pagination{
    margin-top: 14px;
    margin-bottom: 92px;
    gap: 20px;
}
.page-link{
    border: none;
    font-size: 21px;
    line-height: 21px;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    color: #000;
}
.page-item .page-link{

    background: transparent;
    color: #000;
}
.page-item.active .page-link{
    background: #D9D9D9;
    border-radius: 10px;
    width: 43px;
    height: 43px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bvi-btn {
    margin-left: auto;
}

.search-result{
    padding-right: 142px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    padding-top: 0;
    margin-bottom: 0;
}
.vacancy-form{
    background: #fff;
    border-radius: 10px;
    max-width: 991px;
    margin-top: 66px;
    padding: 41px 53px 39px 52px;
    margin-right: 34px;
}
.form-title{
    color: #D6111F;
    font-size: 48px;
    line-height: 57px;
    font-weight: 700;
    font-family: Pervye_Extended,sans-serif;
    margin-bottom: 26px;
}
.footer-top .form-text, .footer-top .form-text a, .form-text{
    color: #000000;
    font-size: 29px;
    line-height: 36px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    margin-bottom: 36px;
    flex-direction: row;
    gap: 10px;
}
.footer-top .form-text a{
    margin-bottom: 0;
}

.vacancy .footer-col-2{
    max-width: 398px;
    width: 100%;
}
.vacancy .footer-col-2 p{
    max-width: 100%;
}
.vacancy .footer-col-3{
    max-width: 991px;
    margin-left: auto;
}

.form-subtitle{
    color: #D6111F;
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    font-family: Pervye_Extended,sans-serif;
    margin-bottom: 22px;
}

.vacancy-form label{
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    margin-bottom: 12px;
}
.vacancy-form input{
    max-width: 401px;
    width: 100%;
    height: 84px;
    border-radius: 10px;
    border: 3px solid #F3F3F3;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    color: #B8B8B8;
    padding-left: 20px;

}
.vacancy-form select{
    max-width: 473px;
    width: 100%;
    height: 84px;
    border-radius: 10px;
    border: 3px solid #F3F3F3;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    color: #B8B8B8;
    padding-left: 20px;

}
.form-row{
    gap: 13px;
    margin-bottom: 19px;
}
.vacancy-form .single-input{
    max-width: 816px;
    width: 100%;
}
.custom-file-button{
    border: 2px dashed #3669C9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 19px;
    max-width: 808px;
    width: 100%;
    justify-content: space-between;
}

.vacancy-form  .file-label{
    color: #B8B8B8;
    margin-bottom: 0;
}
.vacancy-form input[type=file]{
    max-width: 10px;
    padding: 0;
    width: 10px;
}
.choose-file{
    height: 84px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    font-size: 30px;
    line-height: 30px;
    max-width: 376px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 10px;
}
.btn-blue{
    border: 3px solid #3669C9;
    border-radius: 10px;
    max-width: 100%;
    background: #3669C9;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    width: 100%;
}
.btn-gray{
    border: 3px solid #F3F3F3;
    border-radius: 10px;
    max-width: 100%;
    background: #F3F3F3;
    color: #000;
    font-size: 30px;
    line-height: 30px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pervye,sans-serif;
    font-weight: 300;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 33px;
}
.vacancy-form .form-check-input{
    width: 24px;
    height: 24px;
    background: #D9D9D9;
    border-color: #D9D9D9;
    outline: none;
}
.vacancy-form .form-check-label{
    color: #B8B8B8;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
}
.form-check{
    display: flex;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 14px;
}
.modal-dialog-centered{
    max-width: 990px;
    width: 100%;

}
.modal-content{
    border-radius: 10px;
    border: none;
}
.card-text-back{
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    font-family: Pervye, sans-serif;
    text-align: left;
}
.modal-header{
    border: 0;
}
.modal-body{
    padding: 0;
}
.modal-body .vacancy-form{
    margin: 0;
    padding-top: 0;
}

.modal-body .vacancy-form input, .modal-body .vacancy-form select{
    max-width: 427px;
}
.modal-body .vacancy-form input.single-input{
    max-width: 100%;
}

.add-btn{
    width: 24px;
    height: 24px;
    color: #3669C9;
    font-size: 20px;
    background:none;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.form-row div{
    position: relative;

}
.modal-body .btn-gray, .modal-body .btn-blue{
    margin: 44px 0 55px;

}
.vacancy-info {
    border: 3px solid #D6111F;
    border-radius: 30px;
    max-width: calc(100% - 90px);
    margin: 0 auto 188px;
}
.single-info{
    padding: 44px 48px 38px;
    border-bottom: 1px solid #B8B8B8;
    margin-bottom: 48px;
}
.single-info .vacancy-title{
    max-width: 1247px;
}
.vacancy-info .single-info .btn-blue{
    max-width: 323px;
    height: 61px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0;
}
.single-text{
    font-size:25px;
    line-height: 35px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    color: #000;
    margin-bottom: 40px;
    padding-left: 52px;
}
.vacancy-info h4{
    font-size:25px;
    line-height: 30px;
    font-weight: 700;
    font-family: Pervye_Extended,sans-serif;
    color: #000;
    padding-left: 52px;
}
.vacancy-info li{
    font-size:25px;
    line-height: 30px;
    font-weight: 300;
    font-family: Pervye,sans-serif;
    color: #000;
    margin-left: 70px;
    margin-top: 35px;
    padding-right: 71px;
}
.vacancy-info li:last-child{
    margin-bottom: 71px;
}
.vacancy-info .btn-blue{
    max-width: 518px;
    width: 100%;
    height: 99px;
    margin-bottom: 71px;
    margin-right: 73px;
    font-size: 35px;
    line-height: 42px;
}
.vacancy-info ul{
    padding: 0;
}


#reply .modal-body .file-label{
    border: 3px solid #F3F3F3;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 472px;
    width: 100%;
    border-radius: 10px!important;
}

#reply .modal-body .custom-file-button{
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
}
#short-form .form-title{
    font-size: 40px;
    line-height: 48px;
}
#short-form .btn-blue{
    margin-bottom: 18px;
}
#short-form .btn-gray{
    background: #fff;
    border: 3px solid #F3F3F3;
    margin-top: 0;
    margin-bottom: 28px;
}
footer .bvi-btn{
    background: url('../img/bvi-white.svg') no-repeat;
    visibility: visible;
    border: none;
    margin: 0 64px 0 0;
    height: 52px;
}
.form-text a{
    color: #000;
}