@media screen and (max-width: 1890px){
    .about-item{
        max-width: calc(100%/4 - 20px) ;
    }
    .card{
        max-width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1600px){
    .about-list{
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-item img{
        max-width: 100%;
    }
    .about-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    .vacancy-item{
        max-width: calc(100%/2 - 24px);
    }
}
@media screen and (max-width: 1440px){
    .carousel-item img{
        max-height: 600px;
        height: 100%;
    }
    .navbar-nav{
        padding-left: 0;
    }
    .about-list{
        padding-left: 20px;
        padding-right: 20px;
    }
    .story-list{
        max-width: calc(100% - 40px);
    }
    .counter-fw{
        max-width: calc(100% - 40px);
    }
    .counter-sm{
        max-width: calc(100%/2 - 40px);
    }
    .vacancies-list{
        padding-left: 40px;
        padding-right: 40px;
    }
    .vacancy-search{
        padding-left: 40px;
        padding-right: 40px;
    }
    .vacancy-info li{
        padding-right: 40px;
    }

    .vacancy-info li{
        margin-right: 40px;
    }
    .single-text{
        font-size: 20px;
        line-height: 25px;
    }
    .vacancy-info li{
        font-size: 20px;
        line-height: 22px;
        padding-right: 0;
    }
    .vacancy-info .btn-blue{
        height: 64px;
        font-size: 25px ;
        margin-right: 40px;
    }
}
@media screen and (max-width: 1200px){
    .navbar-nav{
        gap: 20px;
    }
    .about-list{
        justify-content: center!important;
        gap: 20px;
    }

    .about-item {
        max-width: calc(100% / 3 - 20px);
        width: 100%;
    }
    .video{
        padding-top: 90px;
    }
    .video-block{
        flex-wrap: wrap;
    }
    .video-about, .video-command{
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: 30px auto 0;
    }
    .video-overlay img{
        max-width: 77%;
    }
    .video-overlay{
        height: 85%;
        width: 54%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .video-block{
        margin-bottom: 90px;
    }

    .values-list{
        max-width:calc(100% - 40px);
    }
    .swiper-button-next{
        right: 42%;
    }
    .swiper-button-prev{
        left: 42%;
    }
    .nav-link{
        font-size: 16px;
    }
    .nav-link i{
        font-size: 16px;
    }
    .values{
        margin-bottom: 90px;
    }
    .story-list{
        margin-bottom: 90px;
    }
    .story-list .swiper-button-next {
        right: 42%;
    }
    .story-list .swiper-button-prev {
        left: 42%;
    }
    .features-list{
        margin-bottom: 90px;
    }
    .counter{
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 34px;
        padding-top: 80px;
    }
    .counter-text{
        font-size: 30px;
        line-height: 30px;
    }
    .counter-sm{
        height: 350px;
    }
    .features-counter{
        margin-bottom: 90px;
    }
    .vacancies-block h1:after{
        right: -50px;
    }
    .vacancies{
        margin-bottom: 90px;
    }
    .vacancy-search .form-control{
        height: 54px;
        font-size: 20px;
        line-height: 20px;
    }
    .vacancy-search .form-select{
        height: 54px;
        font-size: 20px;
        line-height: 20px;
    }
    .vacancy-search .btn-red{
        height: 54px;
        font-size: 18px;
        line-height: 18px;
    }
    .vacancy-search label{
        font-size: 20px;
    }
    .video-bg{
        width: 70%;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .video-view{
        position: relative;
        height: 476px;
        order: 3;
    }
    .video-about{
        order: 1;
    }
    .video-command{
    order: 2;
        right: auto;
          }
}
@media screen and (max-width: 1100px) {
    .features-item{
        max-width: calc(100%/2 - 20px);
    }
    .founder{
        overflow: hidden;
    }
    .video-overlay{
        height: 77%;
    }
}
@media screen and (max-width: 1024px){
    .video-overlay {
        height: 71%;
    }
    .footer-col-2 p{
        max-width: 100%;
    }
    .footer-col-3{
        max-width: 50%;
    }
    .footer-col-3 .footer-title,  .footer-col-4 .footer-title{
        margin-top: 30px;
    }
    .footer-logo img{
        max-width: 100%;
    }
    .section-title{
        font-size: 80px;
        line-height: 90px;
    }
    .video-view{
        background-size: contain;
    }
    .video-overlay {
        top: 5%;
    }
    .value-title{
        font-size: 20px;
    }
    .vacancies-text-5{
        right: 60px;
    }
    .vacancies-text-4{
        right: 20px;
    }
    .vacancies-text-3{
        left: 100px;
    }
    .vacancies-text-2{
        left: 50px;
    }
    .story-text{
        font-size: 20px;
    }
    .section-title{
        font-size: 50px;
        line-height: 60px;
    }
    .footer-bottom h4{
        padding-left: 0;
    }
    .socials{
        margin-bottom: 30px;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .vacancy-item{
        max-width:calc(100% - 60px);
    }
    .vacancy-info{
        max-width: calc(100% - 40px);
    }
    .breadcrumb{
        padding-left: 20px;
    }
    .vacancy-info li {
        margin-right: 20px;
        margin-left: 20px;
    }
    .single-text{
        padding-left: 20px;
        max-width: 100%;
    }
    .vacancy-info h4{
        padding-left: 20px;
    }
}
@media screen and (max-width: 990px){
    .video-overlay {
        top: 4%;
        height: 67%;
    }

    .vacancies-block h1{
        font-size: 40px;
        line-height: 35px;
    }
    .vacancies-block h1:after{
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .vacancies-text-3{
        bottom: 50px;
    }
    .vacancies-text{
        font-size: 16px;
    }
    .carousel-item img{
        height: 480px;
    }
    .carousel .btn-white{
        height: 60px;
        font-size: 20px;
    }
    .carousel-caption{
        bottom: 30px;
    }
    .navbar-light .navbar-toggler{
        border-color: #D6111F;
        outline: none;

    }
    .navbar-light .navbar-toggler-icon{
        background: url('../img/mobile-menu.svg') no-repeat center ;
    }
    .navbar{
        background: #ffffff5c;
    }
    header .navbar .navbar-brand img {
        filter: none!important;
        height: 88px;
    }
    .navbar .nav-link {
        color: #D6111F !important;
    }
    .nav-item{
        text-align: center;
    }
    .navbar-nav{
        padding-top: 0;
    }
    .bvi-btn{
        display: flex;
        margin: 20px auto 0;
    }
    nav .btn-red{
        margin: 20px auto;
        height: 48px;
        font-size: 16px;
        width: 200px;
    }
    .navbar .bvi-btn{
        visibility: visible;
    }
    .btn-arrow{
        width: 33px;
        height: 33px;
    }
    .btn-arrow:before{
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    .about-item{
        max-width: calc(100% / 2 - 20px);
    }
    .counter-title{
        font-size: 28px;
        line-height: 30px;
    }
    .counter-sm{
        max-width: calc(100% - 40px);
        margin-right: 0!important;
        width: 100%;
        margin-bottom: 30px;
    }
    .features-counter{
        padding: 60px 0;
    }
    .swiper-button-next,  .story-list  .swiper-button-next {
        right: 40%;
    }
    .swiper-button-prev,.story-list  .swiper-button-prev {
        left: 40%;
    }
    footer .bvi-btn{
        margin-right: 20px;
    }
    .footer-link{
        font-size: 18px ;
    }
    .page-title{
        font-size: 28px;
        line-height: 30px;
    }
    .vacancy-search{
        padding: 20px;
    }
    .breadcrumb-nav{
        flex-direction: column;
        align-items: flex-start!important;
    }
    .breadcrumb{
        padding-left: 0;
    }
    .vacancy-item{
        margin-bottom: 30px;
    }
    .pagination{
        margin-bottom: 30px;
    }
    .features-text{
        font-size: 35px ;
        line-height: 35px;
    }
}
@media screen and (max-width: 900px){
    .video-overlay {
        height: 62%;
    }
}
@media screen and (max-width: 800px){
    .video-overlay {
        height: 54%;
    }
}
@media screen and (max-width: 768px){
    .features-text{
        font-size: 30px ;
        line-height: 30px;

    }
    .features-text br{
        display: none;
    }
    .swiper-button-next , .story-list  .swiper-button-next {
        right: 30%;
    }
    .swiper-button-prev, .story-list  .swiper-button-prev {
        left: 30%;
    }
    .values {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .values-list{
        margin-top: 0;
    }
    .user-status{
        padding: 0 20px;
    }
    .user-name{
        width: 100%;
    }
    .story-text{
        padding: 0 20px;
    }
    .carousel-caption{
        display: block!important;
    }
    .vacancy-info .btn-blue{
        margin-right: 0;
    }
    .vacancy-form{
        margin: 0 auto;
        max-width: calc(100% - 40px);
    }
    .form-title{
        font-size: 30px;
        line-height: 30px;
    }
    .footer-top .form-text, .footer-top .form-text a, .form-text{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .form-subtitle{
        font-size: 20px;
        line-height: 22px;
    }
    .vacancy-form label, .vacancy-form input, .vacancy-form select, .choose-file{
        font-size: 16px;
        line-height: 18px;
    }
    .vacancy-form .form-check-label{
        font-size: 12px;
        line-height: 14px;
    }
    .vacancy-form input, .vacancy-form select, .choose-file{
        height: 48px;
    }
    .btn-blue, .btn-gray{
        height: 48px;
        font-size: 18px;
    }
    .modal-dialog-centered{
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body .vacancy-form{
        max-width: 100%;
    }
    #reply .vacancy-form .file-label{
        height: 48px;
    }
    .modal-body .vacancy-form input, .modal-body .vacancy-form select{
        max-width: 100%;
    }
    .video-view{
        height: 300px;
    }
    .video-overlay {
        height: 85%;
    }
    footer .bvi-btn{
        margin-right: auto;
        margin-top: 20px;
    }

    .footer-logo img {
        width: 20%;
    }
    .footer-title{
        margin-top: 30px;
    }
    .footer-col-2 p{
        margin-bottom: 20px;
    }
    .footer-top p{
        margin-bottom: 20px;
    }
    .footer-bottom{
        margin-top: 30px;
    }
    .socials{
        justify-content: flex-start;
    }
    footer{
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 730px){
    .video-overlay {
        height: 78%;
    }
}
@media screen and (max-width: 660px){
    .video-overlay {
        height: 73%;
    }
}
@media screen and (max-width: 600px){
    .vacancy-search .btn-red{
        width: 100%;
        max-width: 100%;
    }
    .vacancy-actions{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start!important;
    }
    .vacancy-item{
        max-width: 100%;
    }
    .vacancy-more{
        flex-wrap: wrap;
    }
    .vacancies-list {
        padding-left: 20px;
        padding-right: 20px;
    }
    .vacancy-date{
        font-size: 20px;
    }
    .search-result{
        font-size: 18px;
    }
    .vacancy-form{
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-row{
        flex-wrap: wrap;
    }
    .custom-file-button{
        text-align: center;
    }
    .btn-more{
        margin-right: 0;
    }


    .vacancy-form input, .vacancy-form select, .choose-file{
        max-width: 100%;
    }
    .vacancy-title{
        font-size: 26px;
    }
    .vacancy-info li{
        font-size: 16px;
        margin-top: 20px;
    }
    .vacancy-info li:last-child {
        margin-bottom: 30px;
    }
    .vacancy-info{
        max-width: 100%;
    }
    .single-info{
        padding-right: 20px;
        padding-left: 20px;
    }
    .form-text{
        flex-wrap: wrap;
    }
    .vacancy-info .single-info .btn-blue{
        max-width: 100%;
    }
    .vacancy-info .btn-blue{
        max-width: 100%;
    }
    .carousel-control-prev-icon,  .carousel-control-next-icon{
        width: 43px;
        height: 43px;
        background-size: 100%;
    }
    .section-title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .about-item{
        max-width: calc(100% - 40px);
    }
    .video{
        padding-top: 30px;
        margin-bottom: 40px;
    }
    .video-overlay{
        width: 307px;
        height: 200px;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video img {
        width: 400px;
        height: 300px;
    }

    .values{
        margin-bottom: 30px;
    }
    .story-text{
        max-width: 100%;
    }
    .features-list{
        margin-top: 0;
        margin-bottom: 60px;
    }
    .features-item{
        max-width: calc(100% - 40px);
        height: auto;
    }
    .story-list{
        margin-bottom: 60px;
    }
    .features-number{
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 20px;
    }
    .features-text{
        margin-top: 60px;
        font-size: 30px;
        line-height: 30px;
        padding-right: 100px
    }
    .features-counter{
        border-radius: 60px;
    }
    .counter{
        padding-top: 60px;
        font-size: 40px;
        line-height: 40px;
    }
    .counter-text {
        font-size: 20px;
        line-height: 20px;
    }
    .counter-sm{
        height:auto;
        padding-bottom: 30px;
    }
    .carousel-item img{
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }

    .about-subtitle{
        margin-top: 30px;
    }
    .footer-logo img{
        max-width: 20%;
        margin: 0 auto;
    }


    .footer-title{
        margin-top: 20px;
        font-size: 18px ;

    }
    .footer-col-3{
        max-width: 100%;
    }
    .footer-top p, .footer-top p a{
        font-size: 16px;
    }
    .footer-top p{
        margin-bottom: 20px;
    }
    .footer-bottom{
        margin-top: 20px;
    }
    .socials{
        justify-content: flex-start;
    }
    .footer-link{
        font-size: 16px;
    }
    .vacancies-text{
        font-size: 12px;
    }
    .btn-white{
        max-width: 100%;
        width: 100%;
    }
    .vacancies-block h1{
        font-size: 30px;
        line-height: 30px;
    }
    .vacancies-block h1:after {
        height: 100px;
        width: 50px;
        right: 0;
    }
    .vacancies{
        margin-bottom: 60px;
    }
    .founders-list{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .founder{
        border-radius: 60px;
        height: 200px;
    }
    .counter-title{
        font-size: 20px;
        line-height: 30px;
        padding: 20px;
        margin-bottom: 0;
    }

    .features-counter{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .features-counter .row div:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px){
    .video-view{
        height: 260px;
    }
    .carousel-item img {
        height: 320px;
    }
    .vacancies-text{
        display: none;
    }
    .btn-white{
        font-size: 20px;
        line-height: 30px;
        height: 48px;
    }
    .video img {
        width: 320px;
        height: 220px;
    }
    .video-overlay{
        width: 245px;
        height: 153px;
        top: 41%;
    }
    .video-block{
        margin-bottom: 0;
    }

    .swiper-button-prev, .story-list .swiper-button-prev{
        left: 20%;
    }
    .swiper-button-next, .story-list .swiper-button-next{
        right: 20%;
    }
    .footer-logo img{
        max-width: 30%;
        width: 100%;
    }
    .features-text{
        font-size: 24px ;
        padding-right: 20px;
    }
    .story-text{
        font-size: 16px;
        line-height: 18px;
    }
    .user-status{
        font-size: 18px;
    }
    .user-name{
        font-size: 20px;
        white-space: wrap;
        width: 100%;
        max-width: unset;
        min-width: 100%;
    }
    .features-text{
        padding-right: 0;
    }
}

